.modalFooter {
    --background: #9fb41e;
    color: #9fb41e;
  }
  
  .iniciarSession {
    --background: #d5e66b;
    --border-color: #d5e66b;
    color: #03343a;
  }
  
  .picture-modal {
    min-height: 100%;
    max-height: 100%;
  }
  
  .picture-modal-container {
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .picture-modal-container-land {
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  