<ion-header>
  <ion-toolbar class="title-color toolbar-gradient" color="primary">
    <ion-buttons slot="start">
      <button class="closeSession" size="small" shape="round" fill="outline" >
        <ion-icon name="power" class="logOutButton"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
        Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
    <div class="flex-v height-100">
      <button class="height-50 width-100 big-button-container-first ripple" (click)="cosasLindasClick()">
        <div class="height-100 width-100 center-horizontal center-vertical">
          <ion-icon name="ribbon" class="buttonIcon"></ion-icon>
          <div class="text-title">Cosas Lindas del Edificio</div>
        </div>
      </button>
      <button class="height-50 width-100 big-button-container-second ripple" (click)="cosasFeasClick()">
        <div class="height-100 width-100 center-horizontal center-vertical">
          <ion-icon name="trash" class="buttonIcon"></ion-icon>
          <div class="text-title">Cosas Feas del Edificio</div>
        </div>
      </button>
    </div>
  </ion-content>
